	body, h1, h2, h3, p, img, ul, li{
		border:0; margin:0; padding:0;
	}
		/*the above is a very basic reset rule.  Every browser has a slightly different default for HTML tags.  By using this simple CSS reset, all the more glaring styles 
		are reset and can now be set to whatever properties that would suit your website best. */
	
	body{
		background:#eaf8fb;
		font-family:Arial, Helvetica, sans-serif;
		font-size: 100%; /* all normal text on the web page has a base font size of 14px now */
	}
		
	p{
		letter-spacing:.04em; /* letter spacing sets the horizontal spacing (kerning) between letters in a block of text. */
		line-height:21px; /* line height sets the vertical spacing between lines of text. */
	}
		
	div#header{
		background-color:#333;
		background-image:url(images/headerbkgd.png);
		background-repeat:no-repeat; 
		background-position:left bottom;
		color:#fff;
		-webkit-border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		margin:0 auto;
		min-height:130px;
		padding:45px 15px 15px;	
		width:870px;
		}
		
	ul.navigation {
		list-style:none;
		margin-top:20px;
		overflow: auto;
			}
					
	ul.navigation li {
		display:inline-block; 
		margin:0 3px 5px;
				}
					
	ul.navigation li a{
		background:#4a4a4a;
		color:#fff;
		-moz-border-radius:2px; 
		webkit-border-radius:2px; 
		border-radius:2px;
		border:1px solid #595959; 
		padding:3px 10px;
		text-decoration:none; 
	}
						
	ul.navigation li a:hover{
		background-color:#000;
		
	}
	
	div.content{
		margin:15px auto; 
		width:900px;
	}
				
	div.col-right{
		float:right;
		width:660px
		}
		
	div.sidebar-left{
		float:left;
		padding:0 10px;
		width:200px;
		}
		
	div.sidebar-left a{
		color:#445e64;	
	}
	
	div.sidebar-left a:hover{
		text-decoration:none
	}	
	
	.list{
		border-bottom:1px solid #c3dce1; 
		padding:0 0 20px 15px;	
	}
	.list li{
		margin-bottom:10px
	}
	.list li a{
		font-weight:bold;
		text-transform:uppercase;
		font-size:11px;
	}

	div#footer{
		background-color:#c4d5d9;
		margin:0 auto;
		padding:15px;
		text-align:center;
		width:900px;
	}
	.float-left{
		float:left;
		margin:0  10px 10px 0;
	}
	.float-right{
		float:right;
	}
	.float-right img{
		margin:0 0 10px 10px;
	}
	.clear{
		clear:both; 
	}
	.header {
		display: none;
		}

	body, .footer, .navigation {
		width: 320px;
		}

	.column {
		margin: 10px 0; border-bottom: 1px dashed #7b96bc;
		}
	.navigation ul li {
		display: block; width: 320px; text-align: enter; padding: 0.3em 0;
			}
	
	@media screen and (max-width: 480px) {
		body, .header, .footer, .navigation {width: 100%;}
		.column {margin: 10px 0; border-bottom: 1px dashd #7b96bc;}
		.navigation ul li {width: 33.33334375%;}
		#visit, #points, #main {width: 100%;}
		}

	@media screen and {min-width: 481pxpx) {
		body, .header, .navigation, .footer {width: 100%;}
		.header, .navigation, .footer {clear: both;}
		.column {margin: 10px 10px 0 0;}
		.navigation {min-height: 25px;}
		.navigation ul li {width: 33.333333%;}
		.header {
			background: url (images/w.png) no-repeat;
			height: 200px;
			}
		#visit {
			width: 25%;
			float: left;
			}
		#points {
			width: 25%;
			float: right;
			}
		#main {margin: 10px 27.08333% 0 26.04166%;}
	} 
				
